  h1, h2, h3 {
    color: #3B5539;
  }

  /* ベース */
  body {
    margin: 0;
    font-family: "Noto Serif JP", serif;
    background-color: #fff;
    font-family: 'Noto Serif JP', serif;
    background-color: #FAF8F2;
    color: #1C1C1C;
    line-height: 1.6;
  }

/* ===============
|     Header     |
=================*/

header{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}



/* ハンバーガー */
.hamburger {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 25px;
  position: relative;
  z-index: 1001;
  margin: 20px;
  right: 0;
}

.hamburger span {
  display: block;
  height: 3px;
  margin: 6px 0;
  background: #bdbf92; /* 茶色 → 茶筅をイメージ */
  border-radius: 3px;
  transition: all 0.2s ease;
}

.hamburger span {
  display: block;
  height: 3px;
  margin: 6px 0;
  background: #bdbf92; /* 茶色 → 茶筅をイメージ */
  border-radius: 3px;
  transition: all 0.2s ease;
}

.hamburger.active span{
  background-color: #c49a6c;
}
/* チェックボックス非表示 */
#menu-toggle {
  display: none;
}

/* ハンバーガークリック時の変化（変形） */
#menu-toggle:checked + .hamburger span:nth-child(1) {
  transform: rotate(45deg) translate(16px, 4px);
}
#menu-toggle:checked + .hamburger span:nth-child(2) {
  transform:  rotate(90deg); translate: 3px;
}
#menu-toggle:checked + .hamburger span:nth-child(3) {
  transform: rotate(-45deg) translate(0, -4px);
}

/* メニュー */
.menu {
  position: fixed;
  top: 0;
  right: -250%;
  width: 350px;
  height: 100%;
  background-color: black;
  background: rgba(50, 50, 50, 0.8);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.7); 
  transition: right 0.6s ease;
  z-index: 1000;
  align-items: center;
  font-family: ;
}

.menu ul {
  size: 0.1rem;
  list-style: none;
  padding: 100px 40px;
  margin: 0;
}

.menu li {
  margin: 30px 10px;
  text-align: left;
}

.menu a {
  text-decoration: none;
  font-family: "Hiragino Mincho ProN", serif; /* 明朝体 */
  color: white;
  font-size: 18px;
}

/* メニュー表示状態 */
#menu-toggle:checked ~ .menu {
  right: 0;
}

  section {
    padding: 3rem 1.5rem;
    max-width: 960px;
    margin: auto;
  }

/* ===============
|      main      |
=================*/

/* hero */
.hero{
  width: 100%;
  background-color: #3B5539;
    color: white;
    padding: 2r
    em;
    text-align: center;
    height: 60vh;
}

.hero-title{
  color: white;
}


  .location {
    background-color: #ffffff;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-left: 5px solid #A0B798;
  }
.event {
  background-color: #ffffff;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-left: 5px solid #A0B798;
}
  .step {
    margin-bottom: 1rem;
  }
  footer {
    text-align: center;
    padding: 2rem;
    background-color: #EDEAE0;
    font-size: 0.9rem;
  }
  .btn {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #A0B798;
    color: white;
    text-decoration: none;
    border-radius: 4px;
  }
